<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Change prefferred address
            </div>
            <div class="card-body">
                <b>Every purchase made from this point on will be sent to the selected address.</b>
                <form action="/users/updateSelectedAddress" method="POST">
                    <div class="form-group">
                        <select name="idSelectedAddress" class="form-control" id="id_Store">
                            {{#each addressesResult}}
                            <option value={{id_locationXClient}}>{{name_location}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change address</button>
                    </div>
                </form>
            </div>
        </div>
    </div>